name: Build and Release

on:
  push:
    paths: ["internal/cli/version.txt"]
    branches: ["main"]

permissions:
  contents: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Tag
        id: tag
        run: |
          echo "TAG=$(head -c -1 internal/cli/version.txt)" >> $GITHUB_ENV

      - name: Create Tag
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: 'refs/tags/v${{env.TAG}}',
              sha: context.sha
            })

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version-file: "go.mod"
      - name: build
        run: make dist

      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          tag: v${{ env.TAG }}
          name: Release ${{ env.TAG }}
          artifacts: "dist/*"
          prerelease: true
